.about-container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 30px;
    margin-bottom: 0;
}

.about-me {
    width: 100%;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.about-me-image {
    border-radius: 2rem;
    overflow: hidden;
    width: 480px;
    margin: -75px 0 0 -70px;
    transition: var(--transition);
}

.about-me-image:hover {
    margin: 0;
    width: 405px;
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about-card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about-card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: pointer;
}

.about-icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about-card h5 {
    font-size: 0.95rem;
}

.about-card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about-content p {
    margin: 2rem 0 .95rem;
    color: var(--color-light);
}

/*----Media Queries(Medium)*/

@media screen and (max-width: 1024px) {
    .about-container {
        grid-template-columns: 1fr;
        gap: 0;
        margin-bottom: 10px;
    }

    .about-me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about-content p {
        margin: 1rem 0 1.5rem;
    }

    .about-me-image {
        width: 442px;
    }

    .about-me-image:hover {
        width: 365px;
    }
}

/*----Media Queries(Small)*/

@media screen and (max-width: 600px) {
    .about-me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about-cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about-content {
        text-align: center;
    }

    .about-content p {
        margin: 1.5rem 0;
    }

    .about-me-image {
        width: 400px;
    }

    .about-me-image:hover {
        width: 350px;
        margin-bottom: 25px;
    }
}