.contact-container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact-option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact-option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.contact-option a {
    margin-top: 1rem;
    display: inline-block;
    font-size: 0.8rem;
}

.contact-option a:hover {
    font-size: 1.1rem;
}

/*Form Section*/

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.2rem;
    border-radius: 0.9rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    color: var(--color-white);
    resize: none;
}

/*----Media Queries(Medium)*/

@media screen and (max-width: 1024px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/*----Media Queries(Small)*/

@media screen and (max-width: 600px) {
    .contact-container {
        width: var(--container-wigth-sm);
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}